.main-header {
    height: 70px;
    box-shadow: 1px 1px 11px #000;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 99;
}
.main-header h6 {
    color: white;
    margin: auto 0;
}
.adqr-section, .user-section {
    display: inline-flex;
}
.main-header .ant-avatar-lg.ant-avatar-icon {
    margin: auto 5px auto 0px;

}
.user-section {
    padding-right: 0;
    padding-left: 25px;
}
.user-section h6 {
    margin-right: 5px;
}